doctype
html
  head
    title MEAN Walking Skeleton
    link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
    link(rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet" href="/vendor/toastr/toastr.min.css")
    link(rel="stylesheet" href="/css/theme.css")
  body(ng-app="app")
    h1 HEADER
    
    block main-content

    h1 FOOTER

    include scripts